<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/mainStyle.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>

<!-- <script>
$.getJSON('authors', function(data){
	var table = $('<table></table');
	$.each(data,function(key, value) {
		var row = $('<tr></tr>')
		var nameCell = $('<td>'+value['name']+'</td>');
		var nationalityCell = $('<td>'+value['nationality']+'</td>');
		$(row).append(nameCell);
		$(row).append(nationalityCell);
		$(table).append(row);
	});
	$('#content').append(table);
})</script> -->

</head>
<body>
<header>
   <h1>Webtechnologies - Librarian</h1>
</header>
<nav><ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="news.asp">Authors</a></li>
  <li><a href="contact.asp">Books</a></li>
  <li><a href="about.asp">Something</a></li>
</ul></nav>
<div id="content">
<div id="leftPanel"><nav><ul class="leftUL">
  <li class="leftLI"><a href="index.html">Home</a></li>
  <li class="leftLI"><a href="news.asp">Authors</a></li>
  <li class="leftLI"><a href="contact.asp">Books</a></li>
  <li class="leftLI"><a href="about.asp">Something</a></li>
</ul></nav></div>
<div id="mainContent"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ullamcorper urna id sem ornare, vel lobortis diam interdum. Vestibulum sed felis pulvinar, pretium lorem at, auctor ex. Proin varius diam at suscipit egestas. Vestibulum a aliquam erat. Maecenas quis tortor vel dolor venenatis blandit at nec dolor. Vivamus sit amet ante nec diam fringilla sagittis. Morbi condimentum euismod quam quis porttitor. Nam erat elit, semper a nibh venenatis, tempor volutpat magna.
Nullam commodo, neque at faucibus auctor, nibh lorem convallis nulla, et dignissim tellus orci eget purus. Cras in semper libero. Curabitur dapibus leo sed ex dignissim sodales. Nulla ac ultricies sapien. Fusce eu malesuada massa, id semper enim. Phasellus faucibus pharetra porta. Donec mattis imperdiet consequat. Morbi sodales feugiat diam, condimentum feugiat justo viverra et. Quisque dictum dignissim scelerisque. Nulla faucibus pretium nibh sed mattis. Morbi eu ullamcorper lacus. Nunc eu odio quis dui tristique faucibus.
Integer purus velit, sodales quis placerat condimentum, rhoncus ut ante. Proin accumsan nibh eros, a ultricies sem tempor sed. Vivamus rutrum, tellus eu laoreet cursus, leo purus condimentum mi, id gravida purus nunc vitae nisl. Duis porta sem vel metus tempor, quis lacinia nulla laoreet. Fusce ac posuere nibh, eget interdum lectus. Nulla consequat feugiat lacinia. Curabitur tincidunt mattis eleifend. Aliquam tellus orci, vulputate quis sollicitudin id, mattis eget eros. Nunc urna purus, vulputate vel ante sed, imperdiet lacinia lacus. Ut consectetur ultricies velit, ut tincidunt lectus congue ut. Phasellus vitae nulla nec elit dignissim accumsan vel nec mi. Curabitur pellentesque viverra ligula, sit amet gravida lacus vehicula sit amet.
Sed suscipit sem id neque vulputate, et mollis massa facilisis. Aliquam ut nisi vel est aliquet aliquet. Mauris ex sapien, vestibulum sed metus vitae, facilisis molestie neque. Aliquam et egestas leo, in luctus quam. Fusce interdum mi quis justo feugiat, at tincidunt elit vehicula. Sed ornare placerat risus, at feugiat dolor mollis quis. Nullam egestas laoreet nisi ac eleifend. Pellentesque feugiat magna at lacus imperdiet tempus. Suspendisse tortor dolor, commodo ut tincidunt in, cursus quis risus. Sed ligula nisl, varius eget diam in, accumsan sollicitudin sapien. Fusce sagittis, eros et pretium fringilla, lectus nulla luctus ex, sit amet interdum dui ipsum non massa. Donec vulputate nisi non velit placerat consectetur. Proin dapibus lobortis consectetur. Sed sed turpis justo. Donec vehicula tortor libero, vitae fermentum magna placerat in.
Sed ac nisl id risus porta hendrerit sed non ante. Phasellus efficitur lacus at nibh eleifend viverra. Sed convallis tellus eget tincidunt sodales. Etiam sit amet elit eu orci dictum pulvinar. Etiam ac risus dapibus mauris mollis fermentum. Etiam varius elit sed lectus lacinia tristique. Vestibulum non ultricies justo. Sed blandit metus nec aliquet venenatis. Sed lorem nisi, auctor in augue id, tincidunt auctor nibh. Duis lobortis viverra nisi vitae facilisis.</p>
<br>
<br>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ullamcorper urna id sem ornare, vel lobortis diam interdum. Vestibulum sed felis pulvinar, pretium lorem at, auctor ex. Proin varius diam at suscipit egestas. Vestibulum a aliquam erat. Maecenas quis tortor vel dolor venenatis blandit at nec dolor. Vivamus sit amet ante nec diam fringilla sagittis. Morbi condimentum euismod quam quis porttitor. Nam erat elit, semper a nibh venenatis, tempor volutpat magna.
Nullam commodo, neque at faucibus auctor, nibh lorem convallis nulla, et dignissim tellus orci eget purus. Cras in semper libero. Curabitur dapibus leo sed ex dignissim sodales. Nulla ac ultricies sapien. Fusce eu malesuada massa, id semper enim. Phasellus faucibus pharetra porta. Donec mattis imperdiet consequat. Morbi sodales feugiat diam, condimentum feugiat justo viverra et. Quisque dictum dignissim scelerisque. Nulla faucibus pretium nibh sed mattis. Morbi eu ullamcorper lacus. Nunc eu odio quis dui tristique faucibus.
Integer purus velit, sodales quis placerat condimentum, rhoncus ut ante. Proin accumsan nibh eros, a ultricies sem tempor sed. Vivamus rutrum, tellus eu laoreet cursus, leo purus condimentum mi, id gravida purus nunc vitae nisl. Duis porta sem vel metus tempor, quis lacinia nulla laoreet. Fusce ac posuere nibh, eget interdum lectus. Nulla consequat feugiat lacinia. Curabitur tincidunt mattis eleifend. Aliquam tellus orci, vulputate quis sollicitudin id, mattis eget eros. Nunc urna purus, vulputate vel ante sed, imperdiet lacinia lacus. Ut consectetur ultricies velit, ut tincidunt lectus congue ut. Phasellus vitae nulla nec elit dignissim accumsan vel nec mi. Curabitur pellentesque viverra ligula, sit amet gravida lacus vehicula sit amet.
Sed suscipit sem id neque vulputate, et mollis massa facilisis. Aliquam ut nisi vel est aliquet aliquet. Mauris ex sapien, vestibulum sed metus vitae, facilisis molestie neque. Aliquam et egestas leo, in luctus quam. Fusce interdum mi quis justo feugiat, at tincidunt elit vehicula. Sed ornare placerat risus, at feugiat dolor mollis quis. Nullam egestas laoreet nisi ac eleifend. Pellentesque feugiat magna at lacus imperdiet tempus. Suspendisse tortor dolor, commodo ut tincidunt in, cursus quis risus. Sed ligula nisl, varius eget diam in, accumsan sollicitudin sapien. Fusce sagittis, eros et pretium fringilla, lectus nulla luctus ex, sit amet interdum dui ipsum non massa. Donec vulputate nisi non velit placerat consectetur. Proin dapibus lobortis consectetur. Sed sed turpis justo. Donec vehicula tortor libero, vitae fermentum magna placerat in.
Sed ac nisl id risus porta hendrerit sed non ante. Phasellus efficitur lacus at nibh eleifend viverra. Sed convallis tellus eget tincidunt sodales. Etiam sit amet elit eu orci dictum pulvinar. Etiam ac risus dapibus mauris mollis fermentum. Etiam varius elit sed lectus lacinia tristique. Vestibulum non ultricies justo. Sed blandit metus nec aliquet venenatis. Sed lorem nisi, auctor in augue id, tincidunt auctor nibh. Duis lobortis viverra nisi vitae facilisis.<p>

</div></div>
<footer>Szabó Alex Gyula - AS97C7</footer>
</body>
</html>
